#greycol{
    color: grey;
}
.yellow{
    color: yellow;
}
h3:first-child{
    color: pink;
}
p:first-child{
    color: red;
}
p:nth-child(7){
    color: green;
}
ul{
    list-style: none;
}
.list{
    display: flex;
}
a{
    text-decoration: none;
}
.hover-link:hover{
    color: rgb(147, 6, 29);
}
.focus-link:focus{
    color: aqua;
}
.link:link{
    background-color: rgb(0, 255, 179);
}
.visited-link:visited{
    color: green;
}
.active-link:active{
    background-color: pink;
    color: black;
}
.tuesday li:last-child{
    background-color: chartreuse;
}
.wednesday li:nth-child(odd){
    background-color: blue;
}
.wednesday li:nth-child(even){
    background-color: rgb(238, 198, 0);
}
.thursday li:nth-child(4n){
    background-color: rgb(129, 87, 254);
}
.friday li:nth-child(-n+2){
    background-color: aqua;
}